<!DOCTYPE html>

<html>
	<head>
		<title>Twerge</title>
		<link type="text/css" rel="stylesheet" href="../static/stylesheet.css"/>
	</head>
	<body style>
		<div class="top_bar">
			<h4>TWERGE</h4>
		</div>
			<form action="/combined" method="post">
    			<div id="left">Twitter Handle 1: <input type="text" name="one"></div>
            	<div id="right">Twitter Handle 2: <input type="text" name="two"> </div>
            	<div id="bottom"><input type="submit" value="TWERGE"></div>
        	</form>
    </body>
</html>